

<div class="container" id="mainContent">


  <div class="breadcrumb-container hide">
    <div class="akitennisclass1513" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" style="margin-top:0;">
      <div class="media">
        <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="akitennisclass1766">
          <a href="/" itemprop="url" title="マイネ王のトップページ">
            <i class="akitennisclass940 akitennisclass1607"></i> Top
            <meta content="マイネ王" itemprop="title">
          </a>
        </div>
        <div class="akitennisclass1508">
          <div class="akitennisclass2072">
            <ol class="akitennisclass968 akitennisclass1290">
              <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                <strong>
                  <span itemprop="title">くろちゃんｄｓさんのページ</span>
                </strong>

              </li>

            </ol>
          </div>
          <!--.bc-list-->
        </div>
        <!--.media-body-->
      </div>
      <!--.media-->
    </div>
  </div>


  <!-- ContentHeader -->

  <!-- / ContentHeader -->

  <div class="row">
    <div class="akitennisclass1847" role="main">
      <!-- MainContent -->


      <h1 class="akitennisclass1137">くろちゃんｄｓさんの新着情報</h1>
      <p>過去30日分の新着情報を表示しています。</p>


      <div class="row">
        <div class="akitennisclass1838">
          <p>
            <a class="btn akitennisclass1313 akitennisclass1620" href="/my/08a260a7919350db/account/activity_settings">
              <i class="akitennisclass949 akitennisclass1607"></i> 新着情報に表示する項目の設定
            </a>
          </p>
        </div>
        <div class="akitennisclass1838">
          <p>
            <a class="btn akitennisclass1313 akitennisclass1620" href="/my/08a260a7919350db/subscriptions">
              <i class="akitennisclass949 akitennisclass1607"></i> 更新情報の受信停止設定
            </a>
          </p>
        </div>
      </div>


      <div class="panel akitennisclass982">
        <!-- activities -->
        <div id="activities" class="akitennisclass1504">
          <a class="activity-item akitennisclass686" data-activity-id="600114402" href="/my/08a260a7919350db/messages/158739" id="activity-600114402">
            <div class="akitennisclass1926">
              <div class="activityBody media">
                <form action="/my/08a260a7919350db/muted_users?id=17" class="button_to" method="post">
                  <div>
                    <button class="close close-lg" data-container="body" data-title="この人からの通知をミュートする" data-toggle="tooltip" onclick='if (event.stopPropagation) event.stopPropagation(); return confirm("この人からの通知をミュートしますか？")' onfocus="this.blur()" type="submit" data-original-title="" title="">
                      <i class="fa akitennisclass849 akitennisclass2390"></i>
                    </button>
                    <input name="authenticity_token" type="hidden" value="Bri9H9qAb05k6hhaZbV1rgvpdDF+0zdQSGio/J8vOf4="><input name=".done" type="hidden" value="https://king.mineo.jp/my/08a260a7919350db">
                  </div>
                </form>


                <p class="akitennisclass1507">
                  <span><img alt="マイネ王 運営事務局" data-container="body" data-link-url="http://king.mineo.jp/my/kopt" data-placement="bottom" data-toggle="tooltip" height="40" show_rank="false" src="https://img.king.mineo.jp/system/sns_profiles/badge_images/000/000/000/017/SQ_XS_image.jpg?1449639783" title="" width="40" data-original-title="マイネ王 運営事務局"></span>
                </p>


                <div class="akitennisclass110 akitennisclass1508">
                  <div class="akitennisclass1001 akitennisclass1577">
                    <b>マイネ王 運営事務局</b>さんから<b>メッセージ</b>が届きました。
                  </div>


                </div>

                <p class="akitennisclass110 akitennisclass1290 akitennisclass1540 akitennisclass2320">

                  <i class="fa fa-clock akitennisclass1607" title="" data-toggle="tooltip" data-container="body" data-original-title="この通知はあなただけに表示されています。"></i>

                  <span class="akitennisclass1539" data-container="body" data-toggle="tooltip" title="" data-original-title="2019/06/10 12:21">
        <time datetime="2019-06-10T12:21:21+09:00">約3時間前</time>
      </span>
                </p>
              </div>

            </div>

          </a>

          <div class="activity-item akitennisclass686" data-activity-id="600114172" id="activity-600114172">
            <div class="akitennisclass1926">
              <div class="activityBody media">


                <div class="akitennisclass110 akitennisclass1508">
                  <div class="akitennisclass1001 akitennisclass1577">
                    くろちゃんｄｓさん、<b>マイネ王</b>へようこそ！<br> まずはご自身の<b>プロフィールを設定</b>してみましょう。
                  </div>


                  <div class="media-extra">
                    <a class="btn akitennisclass1313" href="/my/08a260a7919350db/profile/edit">今すぐ設定する！</a>
                  </div>


                </div>

                <p class="akitennisclass110 akitennisclass1290 akitennisclass1540 akitennisclass2320">


      <span class="akitennisclass1539" data-container="body" data-toggle="tooltip" title="" data-original-title="2019/06/10 12:19">
        <i class="fa fa-clock"></i>
        <time datetime="2019-06-10T12:19:44+09:00">約3時間前</time>
      </span>
                </p>
              </div>

            </div>

          </div>


        </div>
        <!-- /activities -->
      </div>

      <div id="morePager">
        <p class="hide akitennisclass1302">これ以上ありません。</p>

      </div>


      <div class="modal fade" id="modalSelectUsers">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="akitennisclass1258">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="akitennisclass2101">Close</span></button>
              <h4 class="akitennisclass1391">新着情報 対象メンバー</h4>
            </div>
            <div class="akitennisclass1595">
              <input class="userSelector" data-activity-id="null" data-ajax-url="/ajax/activities/sender_users" name="selector" type="hidden" value="">

              <div class="results akitennisclass1926 akitennisclass982 panel akitennisclass1504">
                <!-- Render by script -->
              </div>

              <p class="akitennisclass1302 akitennisclass2078" style="display:none;">
                <i class="fa akitennisclass1459 akitennisclass2143 akitennisclass2388"></i> <span class="akitennisclass2101">読み込み中...</span>
              </p>

              <div class="nomatch" style="display:none;">
                <p class="akitennisclass2590">メンバーがいません。</p>
              </div>
            </div>
            <div class="akitennisclass1197">
              <button type="button" class="btn akitennisclass1313" data-dismiss="modal">閉じる</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <script type="text/template" id="tmplUserResult">
        <a class="list-group-item" href="{{ url }}">
          <div class="akitennisclass1502">
            <div class="media">
              <div class="akitennisclass1507">
                                <span><img alt="{{ name }}" class="{{ images.SQ_M.img_class }}" data-container="body"
                                           data-placement="bottom" data-toggle="tooltip" show_rank="false"
                                           data-image-png="{{ images.SQ_M.src_png }}"
                                           data-image-svg="{{ images.SQ_M.src_svg }}"
                                           data-image-svgz="{{ images.SQ_M.src }}" src="{{ images.SQ_M.src }}" title=""
                                           data-original-title="{{ name }}" width="60" height="60"></span>
              </div>
              <div class="akitennisclass1508">
                <p class="akitennisclass1291"><b>{{ name }}</b></p>
              </div>
            </div>
          </div>
        </a>
      </script>
      <script type="text/template" id="tmplUserResultMore">
        <a href="#" class="pagenator list-group-item btn btn-default col-xs-12" data-next-page="{{ nextPage }}">
          もっと見る <i class="fa fa-caret-down"></i>
        </a>
      </script>


      <h2>活動状況サマリー</h2>
      <div class="akitennisclass2348">
        <table class="akitennisclass868 akitennisclass2424">
          <thead>
          <tr class="active">
            <th class="akitennisclass1849 akitennisclass1302 akitennisclass1689">活動場所
            </th>
            <th class="akitennisclass1825 akitennisclass1302 akitennisclass1822">件数
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>スタッフブログのコメント数</td>
            <td class="akitennisclass1302">0</td>
          </tr>
          <tr>
            <td>Q&amp;Aの質問数と回答数</td>
            <td class="akitennisclass1302">0</td>
          </tr>
          <tr>
            <td>掲示板の投稿数とコメント数</td>
            <td class="akitennisclass1302">0</td>
          </tr>
          <tr>
            <td>レビューの投稿数とコメント数</td>
            <td class="akitennisclass1302">0</td>
          </tr>
          <tr>
            <td>アイデア ファームの投稿数とコメント数</td>
            <td class="akitennisclass1302">0</td>
          </tr>
          <tr>
            <td>王国ダンジョンの作成数</td>
            <td class="akitennisclass1302">0</td>
          </tr>
          <tr>
            <td>王国ダンジョンのクリア数</td>
            <td class="akitennisclass1302">0</td>
          </tr>
          </tbody>
        </table>
      </div>


      <!-- /MainContent -->
    </div>
    <div class="akitennisclass1831">
      <div class="panel akitennisclass982">
        <div class="akitennisclass1502">
          <div class="akitennisclass1291">
            <a class="btn akitennisclass1316 akitennisclass1620" href="/my/08a260a7919350db/account/mineo_connect/login">eoID連携</a>

          </div>

          <a class="btn akitennisclass1313 akitennisclass1620" data-confirm="ログアウトしますか？" data-no-turbolink="true" href="/logout?.done=https%3A%2F%2Fking.mineo.jp%2Fmy%2F08a260a7919350db">
            <i class="fa akitennisclass1349 akitennisclass2385"></i> ログアウトする
          </a>


          <hr>

          <p class="akitennisclass1302">
            <b>くろちゃんｄｓ</b>さん
          </p>

          <p>
            <a href="/my/08a260a7919350db" title="くろちゃんｄｓ"><span><img alt="くろちゃんｄｓ" class="akitennisclass854 akitennisclass1176 imageSvg" data-image-style="SQ_L" data-image-svg="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-1-07719804a5aff45be3905f19fec5b4a8.svg" data-image-svgz="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-1-6fa9aa9ae560b83e57264fcaab133399.svgz" height="220" show_rank="false" src="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-1-6fa9aa9ae560b83e57264fcaab133399.svgz" title="くろちゃんｄｓ" width="220"></span></a>
          </p>

          <p class="akitennisclass1302">マイネ王利用登録日 2019年6月10日</p>

        </div>
      </div>


      <div class="panel akitennisclass982">
        <div class="akitennisclass987">
          <b>ファン</b>
          <small class="akitennisclass1539"><b>0</b></small>
        </div>
        <div class="akitennisclass1502">
          <p>
            <a class="btn akitennisclass1316 akitennisclass1620" href="/my/08a260a7919350db/invitations">
              <i class="akitennisclass855 akitennisclass1607"></i> 友だちを招待する
            </a>
          </p>

          <p class="akitennisclass1292">
            <a class="btn akitennisclass1316 akitennisclass1620" href="/users">
              <i class="akitennisclass855 akitennisclass1607"></i> メンバーを検索する
            </a>
          </p>
          <p class="akitennisclass2590">ファンはまだいません。</p>

        </div>
      </div>
    </div>
  </div>

  <!-- /PageContent -->

</div>
<div class="container" id="mainContent">
  <form accept-charset="UTF-8" action="/signup" class="new_user" enctype="multipart/form-data" id="new_user" method="post">
    <div style="display:none">
      <input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="Bri9H9qAb05k6hhaZbV1rgvpdDF+0zdQSGio/J8vOf4=">
    </div>

    <div class="akitennisclass1024 akitennisclass2391">
      <p>
        メンバー登録はお一人1アカウントまでです。複数アカウントの登録はご遠慮ください。<br>
        また、マイネ王退会後、6ヶ月間は同一メールアドレスでのメンバー登録はできません。
      </p>
    </div>

    <div class="akitennisclass1305">
      <h2>お客様情報の入力</h2>
    </div>


    <div class="akitennisclass1526">
      <label class="akitennisclass1063" for="user_name">
        <span class="label akitennisclass1172">必須</span> ニックネーム
        <small class="akitennisclass1539">24文字以内</small>
      </label>
      <p><b class="akitennisclass1304">運営事務局の公式アカウントと見間違えやすいニックネーム、メールアドレスと同一のニックネームのご利用はお控えください。</b></p>

      <div class="input-group">
        <input class="akitennisclass1200" data-ajax-url="/ajax/users/check_user_name" id="user_name" name="user[name]" type="text">
        <span class="input-group-addon">
      <span id="labelValidName">
        <span class="invalid akitennisclass1304">
          <i class="fa akitennisclass704 akitennisclass2390"></i>
          <span class="akitennisclass2101">使用できません</span>
        </span>
        <span class="valid akitennisclass1238" style="display:none;">
          <i class="fa akitennisclass705 akitennisclass2390"></i>
          <span class="akitennisclass2101">使用できます</span>
        </span>
      </span>
    </span>
      </div>
      <p><b class="akitennisclass2320"><span class="akitennisclass1539">公開範囲</span> 一般公開</b></p>
    </div>

    <hr>

    <div class="akitennisclass1526">
      <label class="akitennisclass1063" for="user_sns_profile_attributes_preset_badge_image"><span class="label akitennisclass1172">必須</span> プロフィール画像</label>
      <p>
        <b class="akitennisclass1304">
          肖像権を侵害する画像や猥褻画像、運営事務局の公式アカウントと見間違えやすい画像の利用は控えてください。<br>
          ※利用規約に違反する画像を利用された場合、アカウントを削除させていただく場合があります。
        </b>
      </p>
      <p>
        <small class="akitennisclass1539">正方形で140px以上の画像をアップロードするとキレイに表示できます</small>
      </p>


      <style>
        .fileUploder {
          position: relative;
          /*↓幅はデザイン依存。場合によっては、指定しなくていい*/
          width: 152px;
          /*↓高さ指定しないとIE7で領域がひろがる…？*/
          height: 45px;
          /*↓はみ出した分隠す。IE対策*/
          overflow: hidden;
        }

        .fileUploder .uploader {
          position: absolute;
          top: 0;
          /*↓leftからrightに。ボタンが右にあるので、rightにしないとだめ。IE対策。*/
          right: 0;
          /*↓念のため*/
          z-index: 99;
          width: 100%;
          height: 100%;
          /*↓ここでフォームアイテムの大きさを調整。IE対策*/
          font-size: 315px;
          opacity: 0;
          /*↓IE6,7対策*/
          filter: alpha(opacity=0);
          /*↓IE8対策*/
          -ms-filter: "alpha(opacity=0)";
        }
      </style>
      <div class="fileUploder akitennisclass1291">
        <button class="btn akitennisclass1313"><i class="fa akitennisclass1730"></i> 写真を選択する</button>
        <span id="image_file"></span>
        <input class="uploader" id="user_sns_profile_attributes_upload_badge_image" name="user[sns_profile_attributes][upload_badge_image]" type="file">
      </div>
      <div class="uploadFileName" style="display: none;">
        <p class="akitennisclass1531">
          <button class="removeFile btn akitennisclass1313" type="button"><i class="fa akitennisclass1304 akitennisclass1869"></i>
          </button>
        </p>
        <p class="akitennisclass1200 fileName"></p>
      </div>


      <div class="row presetImages">
        <div class="akitennisclass1822 akitennisclass1825 akitennisclass1302 akitennisclass1823">
          <p>
            <img alt="Avatar m20 1 1" class="akitennisclass854 labelImage imageSvg" data-image-svg="https://img.king.mineo.jp/assets/avatars/avatar-m20-1-1-48222bda9439011b9bd6cdcad6c0cbcb.svg" data-image-svgz="https://img.king.mineo.jp/assets/avatars/avatar-m20-1-1-50cc702aadec36b3de8af0e2c857e13e.svgz" src="https://img.king.mineo.jp/assets/avatars/avatar-m20-1-1-50cc702aadec36b3de8af0e2c857e13e.svgz">
            <label for="user_sns_profile_attributes_preset_badge_image_avatar-m20-1-1">
              <input id="user_sns_profile_attributes_preset_badge_image_avatar-m20-1-1" name="user[sns_profile_attributes][preset_badge_image]" type="radio" value="avatar-m20-1-1">
            </label>
          </p>
        </div>
        <div class="akitennisclass1822 akitennisclass1825 akitennisclass1302 akitennisclass1823">
          <p>
            <img alt="Avatar m20 1 2" class="akitennisclass854 labelImage imageSvg" data-image-svg="https://img.king.mineo.jp/assets/avatars/avatar-m20-1-2-7c568bc6bd43ac83e81264f718ee222b.svg" data-image-svgz="https://img.king.mineo.jp/assets/avatars/avatar-m20-1-2-2d99f03856f8a3534c061c85ddc167d7.svgz" src="https://img.king.mineo.jp/assets/avatars/avatar-m20-1-2-2d99f03856f8a3534c061c85ddc167d7.svgz">
            <label for="user_sns_profile_attributes_preset_badge_image_avatar-m20-1-2">
              <input id="user_sns_profile_attributes_preset_badge_image_avatar-m20-1-2" name="user[sns_profile_attributes][preset_badge_image]" type="radio" value="avatar-m20-1-2">
            </label>
          </p>
        </div>

        <div class="akitennisclass1822 akitennisclass1825 akitennisclass1302 akitennisclass1823">
          <p>
            <img alt="Avatar m20 2 1" class="akitennisclass854 labelImage imageSvg" data-image-svg="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-1-07719804a5aff45be3905f19fec5b4a8.svg" data-image-svgz="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-1-6fa9aa9ae560b83e57264fcaab133399.svgz" src="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-1-6fa9aa9ae560b83e57264fcaab133399.svgz">
            <label for="user_sns_profile_attributes_preset_badge_image_avatar-m20-2-1">
              <input id="user_sns_profile_attributes_preset_badge_image_avatar-m20-2-1" name="user[sns_profile_attributes][preset_badge_image]" type="radio" value="avatar-m20-2-1">
            </label>
          </p>
        </div>
        <div class="akitennisclass1822 akitennisclass1825 akitennisclass1302 akitennisclass1823">
          <p>
            <img alt="Avatar m20 2 2" class="akitennisclass854 labelImage imageSvg" data-image-svg="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-0b4167a2e7ec2facd7b3f3f6ee99f93f.svg" data-image-svgz="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-5f187c1b472a9dcd1043a640b66daf18.svgz" src="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-5f187c1b472a9dcd1043a640b66daf18.svgz">
            <label for="user_sns_profile_attributes_preset_badge_image_avatar-m20-2-2">
              <input id="user_sns_profile_attributes_preset_badge_image_avatar-m20-2-2" name="user[sns_profile_attributes][preset_badge_image]" type="radio" value="avatar-m20-2-2">
            </label>
          </p>
        </div>

        <div class="akitennisclass1822 akitennisclass1825 akitennisclass1302 akitennisclass1823">
          <p>
            <img alt="Avatar m20 3 1" class="akitennisclass854 labelImage imageSvg" data-image-svg="https://img.king.mineo.jp/assets/avatars/avatar-m20-3-1-cc7f099071aed8594cabdcef3e6c8d3e.svg" data-image-svgz="https://img.king.mineo.jp/assets/avatars/avatar-m20-3-1-14bdf9c516eb1654ca7fa04b567e2b52.svgz" src="https://img.king.mineo.jp/assets/avatars/avatar-m20-3-1-14bdf9c516eb1654ca7fa04b567e2b52.svgz">
            <label for="user_sns_profile_attributes_preset_badge_image_avatar-m20-3-1">
              <input id="user_sns_profile_attributes_preset_badge_image_avatar-m20-3-1" name="user[sns_profile_attributes][preset_badge_image]" type="radio" value="avatar-m20-3-1">
            </label>
          </p>
        </div>
        <div class="akitennisclass1822 akitennisclass1825 akitennisclass1302 akitennisclass1823">
          <p>
            <img alt="Avatar m20 3 2" class="akitennisclass854 labelImage imageSvg" data-image-svg="https://img.king.mineo.jp/assets/avatars/avatar-m20-3-2-c4c3ead6f0d83176c795ce44cc0612bc.svg" data-image-svgz="https://img.king.mineo.jp/assets/avatars/avatar-m20-3-2-dad74b2ba25afd5f6df8c9ade97c6bf1.svgz" src="https://img.king.mineo.jp/assets/avatars/avatar-m20-3-2-dad74b2ba25afd5f6df8c9ade97c6bf1.svgz">
            <label for="user_sns_profile_attributes_preset_badge_image_avatar-m20-3-2">
              <input id="user_sns_profile_attributes_preset_badge_image_avatar-m20-3-2" name="user[sns_profile_attributes][preset_badge_image]" type="radio" value="avatar-m20-3-2">
            </label>
          </p>
        </div>
      </div>
      <p><b class="akitennisclass2320"><span class="akitennisclass1539">公開範囲</span> 一般公開</b></p>
    </div>

    <hr>

    <div class="akitennisclass1526">
      <label class="akitennisclass1063" for="user_email"><span class="label akitennisclass1172">必須</span> メールアドレス</label>

      <input class="akitennisclass1200" id="user_email" name="user[email]" type="email">

      <p><b class="akitennisclass2320"><span class="akitennisclass1539">公開範囲</span> 非公開</b></p>
    </div>

    <hr>


    <div class="akitennisclass1526">
      <label class="akitennisclass1063" for="user_opt_in_mail_attributes_html"><span class="label akitennisclass1172">必須</span> メールの通知設定</label>
      <p>
        <small class="akitennisclass1539">受信を希望するメールの種類をチェックして下さい。</small>
      </p>


      <div class="akitennisclass1292">
        <p>
          <label class="akitennisclass1063" for="user_opt_in_mail_all">
            <input id="user_opt_in_mail_all" name="user[opt_in_mail][all]" type="checkbox"> 全て
          </label>
        </p>
        <p style="margin-left: 10px;">
          <label class="akitennisclass1063" for="user_opt_in_mail_attributes_notice">
            <input name="user[opt_in_mail_attributes][notice]" type="hidden" value="0"><input checked class="opt-in-mail" id="user_opt_in_mail_attributes_notice" name="user[opt_in_mail_attributes][notice]" type="checkbox" value="1"> マイネ王運営事務局からのお知らせ
          </label>
          <br>
          <small class="akitennisclass1539">各種アンケートやイベント参加、およびマイネ王機能のご利用案内等について</small>
        </p>
        <p style="margin-left: 10px;">
          <label class="akitennisclass1063" for="user_opt_in_mail_attributes_service">
            <input name="user[opt_in_mail_attributes][service]" type="hidden" value="0"><input checked class="opt-in-mail" id="user_opt_in_mail_attributes_service" name="user[opt_in_mail_attributes][service]" type="checkbox" value="1"> マイネ王サービスのご案内
          </label>
          <br>
          <small class="akitennisclass1539">新サービスや、変更されたサービスについて</small>
        </p>
        <p style="margin-left: 10px;">
          <label class="akitennisclass1063" for="user_opt_in_mail_attributes_information">
            <input name="user[opt_in_mail_attributes][information]" type="hidden" value="0"><input checked class="opt-in-mail" id="user_opt_in_mail_attributes_information" name="user[opt_in_mail_attributes][information]" type="checkbox" value="1">
            マイネ王でのおトクな情報、キャンペーンに関するお知らせ
          </label>
          <br>
          <small class="akitennisclass1539">ご利用に役立つ情報や、マイネ王限定でのキャンペーン情報について</small>
        </p>
        <p style="margin-left: 10px;">
          <label class="akitennisclass1063" for="user_opt_in_mail_attributes_magazine">
            <input name="user[opt_in_mail_attributes][magazine]" type="hidden" value="0"><input checked class="opt-in-mail" id="user_opt_in_mail_attributes_magazine" name="user[opt_in_mail_attributes][magazine]" type="checkbox" value="1"> スタッフブログの更新のお知らせ
          </label>
          <br>
          <small class="akitennisclass1539">スタッフブログに新しい記事が追加されると、1日1回メールでお知らせします。</small>
        </p>

        <p>※ マイネ王に関わる重要事項については、上記に関わらず、メールをお送りさせていただきます。</p>
      </div>

      <p class="akitennisclass2320 akitennisclass2590">
        マイネ王からの通知やご連絡は@mail.king.mineo.jp、および@optage.co.jpのいずれかのドメインメールでお送りさせて頂きます。これらのドメインからのメールを受信出来るように設定をお願いいたします。<br>迷惑メールフィルターの設定方法、解除方法は、ご利用の携帯通信会社のホームページ等をご確認下さい。
      </p>
      <p><b class="akitennisclass2320"><span class="akitennisclass1539">公開範囲</span> 非公開</b></p>
    </div>


    <hr>

    <div class="akitennisclass1526">
      <label class="akitennisclass1063" for="user_password"><span class="label akitennisclass1172">必須</span> パスワード</label>
      <p class="akitennisclass1523">
        6〜32文字の半角英数字で入力してください。<br>
        アルファベットの大文字と小文字は区別されます。
      </p>

      <p><input class="akitennisclass1200" id="user_password" name="user[password]" type="password"></p>

      <p><b class="akitennisclass2320">パスワードの安全性</b></p>
      <div class="progress">
        <div id="passwordStrength" class="akitennisclass291 akitennisclass1168" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          <span class="akitennisclass2101">-</span>
        </div>
      </div>
    </div>

    <div class="akitennisclass1526">
      <label class="akitennisclass1063" for="user_password_confirmation"><span class="label akitennisclass1172">必須</span>
        パスワードの確認</label>

      <input class="akitennisclass1200" id="user_password_confirmation" name="user[password_confirmation]" type="password">
    </div>

    <hr>


    <div class="akitennisclass1526">
      <label class="akitennisclass1063" for="user_sns_profile_attributes_pref_id"><span class="label akitennisclass1036">任意</span> 居住地域</label>

      <select class="akitennisclass1200" id="user_sns_profile_attributes_pref_id" name="user[sns_profile_attributes][pref_id]">
        <option value="">都道府県</option>
        <option value="1">北海道</option>
        <option value="2">青森県</option>
        <option value="3">岩手県</option>
        <option value="4">宮城県</option>
        <option value="5">秋田県</option>
        <option value="6">山形県</option>
        <option value="7">福島県</option>
        <option value="8">茨城県</option>
        <option value="9">栃木県</option>
        <option value="10">群馬県</option>
        <option value="11">埼玉県</option>
        <option value="12">千葉県</option>
        <option value="13">東京都</option>
        <option value="14">神奈川県</option>
        <option value="15">新潟県</option>
        <option value="16">富山県</option>
        <option value="17">石川県</option>
        <option value="18">福井県</option>
        <option value="19">山梨県</option>
        <option value="20">長野県</option>
        <option value="21">岐阜県</option>
        <option value="22">静岡県</option>
        <option value="23">愛知県</option>
        <option value="24">三重県</option>
        <option value="25">滋賀県</option>
        <option value="26">京都府</option>
        <option value="27">大阪府</option>
        <option value="28">兵庫県</option>
        <option value="29">奈良県</option>
        <option value="30">和歌山県</option>
        <option value="31">鳥取県</option>
        <option value="32">島根県</option>
        <option value="33">岡山県</option>
        <option value="34">広島県</option>
        <option value="35">山口県</option>
        <option value="36">徳島県</option>
        <option value="37">香川県</option>
        <option value="38">愛媛県</option>
        <option value="39">高知県</option>
        <option value="40">福岡県</option>
        <option value="41">佐賀県</option>
        <option value="42">長崎県</option>
        <option value="43">熊本県</option>
        <option value="44">大分県</option>
        <option value="45">宮崎県</option>
        <option value="46">鹿児島県</option>
        <option value="47">沖縄県</option>
      </select>
      <p><b class="akitennisclass2320"><span class="akitennisclass1539">公開範囲</span> 一般公開</b></p>
    </div>

    <hr>


    <div class="akitennisclass1526">
      <label class="akitennisclass1063" for="user_sns_profile_attributes_gender"><span class="label akitennisclass1036">任意</span> 性別</label>

      <div class="radio">
        <label class="akitennisclass1194" for="user_sns_profile_attributes_gender_m"><input id="user_sns_profile_attributes_gender_m" name="user[sns_profile_attributes][gender]" type="radio" value="m"> 男性</label>
        <label class="akitennisclass1194" for="user_sns_profile_attributes_gender_f"><input id="user_sns_profile_attributes_gender_f" name="user[sns_profile_attributes][gender]" type="radio" value="f"> 女性</label>
      </div>
    </div>
    <div class="akitennisclass1526">
      <div class="form-inline">
        <label for="user_sns_profile_attributes_acl_read_for_gender">
          <small class="akitennisclass1539">公開範囲</small>
        </label>
        <select class="akitennisclass1200" id="user_sns_profile_attributes_acl_read_for_gender" name="user[sns_profile_attributes][acl_read_for_gender]">
          <option value="4">一般公開</option>
          <option selected value="0">非公開</option>
        </select>
      </div>
    </div>

    <hr>

    <div class="akitennisclass2348">
      <div class="akitennisclass1526">
        <p><label><span class="label akitennisclass1036">任意</span> 初心者マーク</label>
        </p>
        <div class="akitennisclass1855">
          <label class="akitennisclass1063" for="user_sns_profile_attributes_beginner">
            <input name="user[sns_profile_attributes][beginner]" type="hidden" value="0"><input id="user_sns_profile_attributes_beginner" name="user[sns_profile_attributes][beginner]" type="checkbox" value="1"> 初心者マークをプロフィールに表示する
          </label>
        </div>
        <p class="akitennisclass1539 akitennisclass2320">
          スマホやSIMに詳しくないときはチェックしてください。<br>
          初心者マークが表示されることで、ていねいな回答やコメントをもらいやすくなります。
        </p>
      </div>
    </div>

    <hr>


    <hr>

    <p class="akitennisclass1024 akitennisclass2391">
      ［同意して登録する］をクリックすることで、「利用規約」と「プライバシーポリシー」に同意したことになります。
    </p>


    <div class="akitennisclass2348">
      <div class="row">
        <div class="akitennisclass1831 col-md-offset-2 akitennisclass1837">
          <a class="btn akitennisclass1313 akitennisclass1620" href="/">キャンセル</a>
        </div>
        <div class="akitennisclass1831 akitennisclass1837">
          <button class="btn akitennisclass1316 akitennisclass1620" data-disable-with="送信中..." name="commit" type="submit" value="commit">同意して登録する
          </button>
        </div>
      </div>
    </div>

  </form>


  <div class="breadcrumb-container ">
    <div class="akitennisclass1513" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" style="margin-top:0;">
      <div class="media">
        <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="akitennisclass1766">
          <a href="https://king.mineo.jp/" itemprop="url" title="マイネ王のトップページ">
            <i class="fa fa-home"></i> Top
            <meta content="マイネ王" itemprop="title">
          </a>
        </div>
        <div class="akitennisclass1508">
          <div class="akitennisclass2072">
            <ol class="akitennisclass968 akitennisclass1290">
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="https://king.mineo.jp/my/39e9eaf9ed79014f/reports" itemprop="url">
                  <span itemprop="title">掲示板</span>
                </a>

              </li>
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <strong>
                  <span itemprop="title">増速ウィーク</span>
                </strong>

              </li>

            </ol>
          </div>
          <!--.bc-list-->
        </div>
        <!--.media-body-->
      </div>
      <!--.media-->
    </div>
  </div>


  <!-- ContentHeader -->

  <!-- / ContentHeader -->

  <div class="row">
    <div class="akitennisclass1675" role="main">
      <!-- MainContent -->
      <div class="akitennisclass1291 akitennisclass1926">
        <div class="akitennisclass1531">
          <small class="akitennisclass1539" data-container="body" data-toggle="tooltip" title="2019/06/10 08:41">
            <i class="fa fa-clock"></i> <b>
            <time datetime="2019-06-10T08:41:59+09:00">2019/06/10</time>
          </b>
          </small>
        </div>
      </div>


      <h1 class="akitennisclass1137">増速ウィーク</h1>

      <p><span class="label akitennisclass1036">YES!</span></p>


      <p class="akitennisclass1577 akitennisclass1788">まちに待った増速スタート日<br>予想してたより快適でーす。<br>500kbpsでこれですから1Mbpsは、素晴らしいでしょう。期待大<br>今後のmineo
        さんの対応を期待しています。m(_ _)m</p>


      <hr style="margin-bottom: 10px;">

      <section class="akitennisclass2348">
        <h3 id="comment_section">コメント <span class="badge">9</span>
        </h3>


        <div class="akitennisclass1926">
          <div class="akitennisclass1492 akitennisclass2348" id="pager-head">


            <div class="akitennisclass1926">
              <div class="akitennisclass1766">

                <div class="akitennisclass1570 akitennisclass1926 ">
                  1 - 9 / 9

                </div>


              </div>

              <div class="akitennisclass1531 akitennisclass1570">
                <a class="internalLink" href="#last_comment">
                  <i class="fa akitennisclass996"></i> 最新コメント<span class="hidden-xs">を見る</span>
                </a>
              </div>
            </div>

          </div>
        </div>

        <div id="comments" class="akitennisclass2348">

          <div class="akitennisclass1292 akitennisclass2594">
            <div class="akitennisclass1766">
              <a href="https://king.mineo.jp/my/61ea83714e41b533" title="John Isle"><span><img alt="John Isle" class="imageSvg" data-container="body" data-image-svg="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-0b4167a2e7ec2facd7b3f3f6ee99f93f.svg" data-image-svgz="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-5f187c1b472a9dcd1043a640b66daf18.svgz" data-placement="bottom" data-toggle="tooltip" height="60" show_rank="true" src="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-5f187c1b472a9dcd1043a640b66daf18.svgz" title="John Isle" width="60"></span><span class="label akitennisclass1174 akitennisclass1284"></span></a>
            </div>
            <div class="akitennisclass1764">
              <div class="popover right show">
                <div class="arrow"></div>

                <div class="popover-content">
                  <div class="akitennisclass1291 akitennisclass1926">
                    <div class="akitennisclass313 akitennisclass1766 akitennisclass1853">


                      <b class="akitennisclass1539">
                        <a href="https://king.mineo.jp/my/61ea83714e41b533" title="John Isle">
                                                    <span class="label akitennisclass1035" style="margin-right: 5px;">
                                                        投稿者</span>John Isle</a></b>
                    </div>

                  </div>
                  <!--.clearfix-->


                  <p>
                    サクサクで快適ですね。試験運用ということで、節約モードが高速になるプランとかも検討するのでしょうかね。楽天モバイルが低速時にも1Mbpsだと聞いた覚えがあり、羨ましく思ったので、今回の増速ウィークは嬉しい限りです😊</p>
                  <div class="akitennisclass1926">
                    <div class="akitennisclass313 akitennisclass1531 akitennisclass1853">
              <span class="akitennisclass1539" data-container="body" data-toggle="tooltip" title="2019/06/10 09:33">
                <i class="fa fa-clock"></i> <time datetime="2019-06-10T09:33:05+09:00">約3時間前</time>
              </span>
                    </div>
                  </div>
                  <div class="akitennisclass1926">
                    <div class="akitennisclass1766">
                      <a class="btn akitennisclass1857 akitennisclass2312" href="https://king.mineo.jp/login?.done=https%3A%2F%2Fking.mineo.jp%2Fmy%2F39e9eaf9ed79014f%2Freports%2F53455"><i class="akitennisclass318 akitennisclass1607"></i>
                        ナイス！
                        <span class="badge">1</span></a>
                    </div>

                  </div>

                </div>


              </div>
            </div>
          </div>
          <div class="akitennisclass1292 akitennisclass2594">
            <div class="akitennisclass1766">
              <a href="https://king.mineo.jp/my/61ea83714e41b533" title="John Isle"><span><img alt="John Isle" class="imageSvg" data-container="body" data-image-svg="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-0b4167a2e7ec2facd7b3f3f6ee99f93f.svg" data-image-svgz="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-5f187c1b472a9dcd1043a640b66daf18.svgz" data-placement="bottom" data-toggle="tooltip" height="60" show_rank="true" src="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-5f187c1b472a9dcd1043a640b66daf18.svgz" title="John Isle" width="60"></span><span class="label akitennisclass1174 akitennisclass1284"></span></a>
            </div>
            <div class="akitennisclass1764">
              <div class="popover right show">
                <div class="arrow"></div>

                <div class="popover-content">
                  <div class="akitennisclass1291 akitennisclass1926">
                    <div class="akitennisclass313 akitennisclass1766 akitennisclass1853">


                      <b class="akitennisclass1539">
                        <a href="https://king.mineo.jp/my/61ea83714e41b533" title="John Isle">
                                                    <span class="label akitennisclass1035" style="margin-right: 5px;">
                                                        投稿者</span>John Isle</a></b>
                    </div>

                  </div>
                  <!--.clearfix-->


                  <p>
                    サクサクで快適ですね。試験運用ということで、節約モードが高速になるプランとかも検討するのでしょうかね。楽天モバイルが低速時にも1Mbpsだと聞いた覚えがあり、羨ましく思ったので、今回の増速ウィークは嬉しい限りです😊</p>
                  <div class="akitennisclass1926">
                    <div class="akitennisclass313 akitennisclass1531 akitennisclass1853">
              <span class="akitennisclass1539" data-container="body" data-toggle="tooltip" title="2019/06/10 09:33">
                <i class="fa fa-clock"></i> <time datetime="2019-06-10T09:33:05+09:00">約3時間前</time>
              </span>
                    </div>
                  </div>
                  <div class="akitennisclass1926">
                    <div class="akitennisclass1766">
                      <a class="btn akitennisclass1857 akitennisclass2312" href="https://king.mineo.jp/login?.done=https%3A%2F%2Fking.mineo.jp%2Fmy%2F39e9eaf9ed79014f%2Freports%2F53455"><i class="akitennisclass318 akitennisclass1607"></i>
                        ナイス！
                        <span class="badge">1</span></a>
                    </div>

                  </div>

                </div>


              </div>
            </div>
          </div>
          <div id="last_comment" class="akitennisclass1292 akitennisclass2594">
            <div class="akitennisclass1766">
              <a href="https://king.mineo.jp/my/61ea83714e41b533" title="John Isle"><span><img alt="John Isle" class="imageSvg" data-container="body" data-image-svg="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-0b4167a2e7ec2facd7b3f3f6ee99f93f.svg" data-image-svgz="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-5f187c1b472a9dcd1043a640b66daf18.svgz" data-placement="bottom" data-toggle="tooltip" height="60" show_rank="true" src="https://img.king.mineo.jp/assets/avatars/avatar-m20-2-2-5f187c1b472a9dcd1043a640b66daf18.svgz" title="John Isle" width="60"></span><span class="label akitennisclass1174 akitennisclass1284"></span></a>
            </div>
            <div class="akitennisclass1764">
              <div class="popover right show">
                <div class="arrow"></div>

                <div class="popover-content">
                  <div class="akitennisclass1291 akitennisclass1926">
                    <div class="akitennisclass313 akitennisclass1766 akitennisclass1853">


                      <b class="akitennisclass1539">
                        <a href="https://king.mineo.jp/my/61ea83714e41b533" title="John Isle">
                                                    <span class="label akitennisclass1035" style="margin-right: 5px;">
                                                        投稿者</span>John Isle</a></b>
                    </div>

                  </div>
                  <!--.clearfix-->


                  <p>
                    サクサクで快適ですね。試験運用ということで、節約モードが高速になるプランとかも検討するのでしょうかね。楽天モバイルが低速時にも1Mbpsだと聞いた覚えがあり、羨ましく思ったので、今回の増速ウィークは嬉しい限りです😊</p>
                  <div class="akitennisclass1926">
                    <div class="akitennisclass313 akitennisclass1531 akitennisclass1853">
              <span class="akitennisclass1539" data-container="body" data-toggle="tooltip" title="2019/06/10 09:33">
                <i class="fa fa-clock"></i> <time datetime="2019-06-10T09:33:05+09:00">約3時間前</time>
              </span>
                    </div>
                  </div>
                  <div class="akitennisclass1926">
                    <div class="akitennisclass1766">
                      <a class="btn akitennisclass1857 akitennisclass2312" href="https://king.mineo.jp/login?.done=https%3A%2F%2Fking.mineo.jp%2Fmy%2F39e9eaf9ed79014f%2Freports%2F53455"><i class="akitennisclass318 akitennisclass1607"></i>
                        ナイス！
                        <span class="badge">1</span></a>
                    </div>

                  </div>

                </div>


              </div>
            </div>
          </div>


        </div>

        <form accept-charset="UTF-8" action="/my/206b7e0ffa15c08e/reports/53210/comments" class="new_content_comment" id="comment_form" method="post">
          <div style="display:none">
            <input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="k0tPgtHEk5ruAunyEF/65Dfh/LCXhgYs77fMPOnXGes=">
          </div>
          <div class="panel akitennisclass982">

            <input class="imageId" id="content_comment_up_image_id" name="content_comment[up_image_id]" type="hidden">
            <input class="videoUrl" id="content_comment_video_url" name="content_comment[video_url]" type="hidden">
            <input class="twitterUrl" id="content_comment_twitter_url" name="content_comment[twitter_url]" type="hidden">
            <input class="facebookUrl" id="content_comment_facebook_url" name="content_comment[facebook_url]" type="hidden">
            <div class="akitennisclass987">
              <ul class="akitennisclass1306 akitennisclass1290">
                <li>
                  <span class="label akitennisclass1036">任意</span>
                </li>
                <li class="akitennisclass1613">
                  <a class="uploadImage btn akitennisclass1313" data-image-type="content_comment" data-target="#modalUploadUpImage" data-toggle="modal" href="#" title="画像をアップロードする"><i class="fa akitennisclass1730 akitennisclass2390"></i></a>
                  <a class="removeImage btn akitennisclass1313" href="#" style="display:none;" title="画像を削除する"><i class="fa akitennisclass1304 akitennisclass1869"></i></a>
                </li>
                <li class="akitennisclass1613">
                  <a class="uploadVideo btn akitennisclass1313" data-target="#modalUploadVideo" data-toggle="modal" href="#" title="動画を設定する"><i class="fa akitennisclass698 akitennisclass2390"></i></a>
                  <a class="removeVideo btn akitennisclass1313" href="#" style="display:none;" title="動画を削除する"><i class="fa akitennisclass1304 akitennisclass1869"></i></a>
                </li>
                <li class="akitennisclass1613">
                  <a class="uploadTwitter btn akitennisclass1313" data-target="#modalUploadTwitter" data-toggle="modal" href="#" title="Twiiterのツイートを設定する"><i class="fa akitennisclass1475 akitennisclass2390"></i></a>
                  <a class="removeTwitter btn akitennisclass1313" href="#" style="display:none;" title="Twiiterのツイートを削除する"><i class="fa akitennisclass1304 akitennisclass1869"></i></a>
                </li>
                <li class="akitennisclass1613">
                  <a class="uploadFacebook btn akitennisclass1313" data-target="#modalUploadFacebook" data-toggle="modal" href="#" title="Facebookの投稿を設定する"><i class="fa akitennisclass1351 akitennisclass2390"></i></a>
                  <a class="removeFacebook btn akitennisclass1313" href="#" style="display:none;" title="Facebookの投稿を削除する"><i class="fa akitennisclass1304 akitennisclass1869"></i></a>
                </li>
              </ul>
            </div>
            <div class="akitennisclass1502">
              <div class="uploadedImage">

              </div>
              <div class="uploadedVideo">

              </div>
              <div class="uploadedTwitter"></div>
              <div class="uploadedFacebook"></div>


              <p>
                <textarea class="autoResizeable charCountable akitennisclass1200" id="content_comment_body" name="content_comment[body]" placeholder="この投稿にコメントしましょう！" rows="1" style="min-height: 3em; max-height: 250px; overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 66px;"></textarea>
              </p>
              <div class="akitennisclass1926">
                <p class="akitennisclass1539 akitennisclass1766 akitennisclass2320"><b class="charCounterLimit">1000</b>文字以内、あと<span class="akitennisclass1238"><b class="charCounter">1000</b></span>文字</p>
                <button class="btn akitennisclass1316 akitennisclass1531 gaEventTrackableWithConfirm aaEventTrackableWithConfirm" data-aa-dates="eVar41,eVar42" data-aa-increments="eVar40" data-confirm="送信します。よろしいですか？" data-disable-with="送信中..." data-ga-action="comment" data-ga-category="comment" data-ga-label="/my/206b7e0ffa15c08e/reports/53210" name="commit" type="submit" value="commit">送信する
                </button>
              </div>
            </div>
            <div id="deletedImages">

            </div>
          </div>
        </form>

      </section>


    </div>
  </div>

  <!-- /PageContent -->
  <div class="akitennisclass1847 col-md-offset-2" role="main">
    <h1 class="akitennisclass1137">ログイン</h1>

    <div class="panel akitennisclass982">
      <div class="akitennisclass987">
        <b>マイネ王のアカウントでログイン</b>
      </div>
      <div class="akitennisclass1502">
        <form accept-charset="UTF-8" action="/login" class="new_session" id="new_session" method="post">
          <div style="display:none">
            <input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="Bri9H9qAb05k6hhaZbV1rgvpdDF+0zdQSGio/J8vOf4=">
          </div>


          <div class="akitennisclass2348">
            <div class="input-group">
              <label class="input-group-addon" for="session_login">
                <i class="fa akitennisclass1357"></i><span class="akitennisclass2101">メールアドレス</span>
              </label>
              <input class="akitennisclass1200" id="session_login" name="session[login]" placeholder="メールアドレス" type="email">
            </div>
          </div>
          <div class="akitennisclass2348">
            <div class="input-group">
              <label class="input-group-addon" for="session_password">
                <i class="fa akitennisclass2219"></i><span class="akitennisclass2101">パスワード</span>
              </label>
              <input class="akitennisclass1200" id="session_password" name="session[password]" placeholder="パスワード" type="password">
            </div>
          </div>


          <p>
            <button class="btn akitennisclass1316 akitennisclass1620" data-disable-with="処理中..." name="commit" type="submit" value="commit"><i class="akitennisclass522 akitennisclass1607"></i> ログイン
            </button>
          </p>


          <div class="akitennisclass1926">
            <div class="akitennisclass1766">
              <!--[if lt IE 9 ]>
              <input name="session[remember_me]" type="hidden" value="0"/><input checked="checked"
                                                                                 id="session_remember_me"
                                                                                 name="session[remember_me]"
                                                                                 type="checkbox"
                                                                                 value="1"/> ログインを維持
              <![endif]-->
              <!--[if (gt IE 8)|!(IE)]><!-->
              <span class="akitennisclass1855">
          <label for="session_remember_me">
            <input name="session[remember_me]" type="hidden" value="0"><input checked id="session_remember_me" name="session[remember_me]" type="checkbox" value="1"> ログインを維持
          </label>
        </span>
              <!--<![endif]-->
            </div>


            <div class="akitennisclass1531">
              <a class="btn akitennisclass1857" href="/forgot_password">
                <span class="hidden-xs">パスワードを再発行する</span>
                <span class="akitennisclass1594">パスワード再発行</span>
              </a>
            </div>
          </div>

          <div class="akitennisclass1531">
            <a class="btn akitennisclass1857" href="/helps/guide/302" target="_blank">
              <span class="hidden-xs">メールアドレスを忘れた方はこちら</span>
              <span class="akitennisclass1594">メールアドレスを忘れた方</span>
            </a>
          </div>


        </form>
      </div>
    </div>

    <div class="panel akitennisclass982">
      <div class="akitennisclass987">
        <b>新規メンバー登録</b>
      </div>
      <div class="akitennisclass1502">
        <a class="btn akitennisclass1316 akitennisclass1620" href="/signup">
          <i class="fa fa-user"></i> 新規メンバー登録（無料）
        </a>
      </div>
    </div>

  </div>
</div>
<!-- /Wrapper -->

<%= form_tag('/home/create', method: :post) do %>
  <%= text_field_tag :name %>
  <%= submit_tag "作成" %>
<% end %>

<%= link_to "一覧", "/home/show"%>

